html {
  font-family: 'Baloo Bhai 2';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.font-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  display: block;
  width: 100%;
  height: 44px;
  background: #000000;
  border: 1px solid #000;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  line-height: 44px;
  transition: all 300ms ease-in-out;
}

.text-button, .text-button:visited {
  color: #000;
}

.text-button:hover {
  text-decoration: underline;
}

.button:hover {
  color: #000;
  background: #fff;
  border: 1px solid #000;
}